<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contáctenos</h5>
          <p class="grey-text text-lighten-4" style="margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">+(504) 2222-2222 Honduras</p>
          <p class="grey-text text-lighten-4" style="margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">+(503) 2222-2222 El Salvador</p>
          <p class="grey-text text-lighten-4" style="margin-top: 0px; padding-bottom: 0px; margin-bottom: 20px;">+(506) 2222-2222 Pánama</p>
          <img height="70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Flag_of_El_Salvador.svg/250px-Flag_of_El_Salvador.svg.png" alt="">
          <img height="70px" src="https://1.bp.blogspot.com/-1kziBevR4HA/Wk2ABZBVrnI/AAAAAAAAX8I/hxjlAgSmr7I2RiXczXltC1nhWSZ_3ptZgCLcBGAs/s1600/oracle_support.jpg" alt="">
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Oracle</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Capacitate en my Oracle support</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ingresa a my Oracle support</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>