<div class="container">
    <div class="row">
        <div class="col s12">
            <ul>
                <li>
                    Soporte ORACLE
                    <ul>
                        <li>
                            <a [routerLink]="['/clientes/home']">Portal del Cliente</a>
                        </li>
                        <li>
                            <a [routerLink]="['/datum/home']">Portal Administrativo DATUM</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Viajes
                    <ul>
                        <li>
                            <a [routerLink]="['/reserva/empleado']">Perfil Empleado</a>
                        </li>
                        <li>
                            <a [routerLink]="['/reserva/area']">Perfil Jefe de Area</a>
                        </li>
                        <li>
                            <a [routerLink]="['/reserva/gte']">Perfil Director</a>
                        </li>
                        <li>
                            <a [routerLink]="['/reserva/brenda']">Perfil Cordinación de viaje</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>